body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #3998fd;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 5px;
    line-height: 5px;
}

.project {
    border: 3px solid #3998fd;
    padding: 10px;
    margin: 10px ;
    line-height: normal;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.foto {
    width: 300px;
    height: 360px;
    background: url("../portfolio/i.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 80px;
    left: 900px;
    overflow: hidden;
  }

.foto1 {
    width: 500px;
    height: 200px;
    background: url("../portfolio/i\ \(1\).webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2540px;
    left: 500px;
    overflow: hidden;
  }
